<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="details.css">


 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script></head>

<body style="background-color: #DCE8F2;">


<div  id="section3" class="container">
        <div class="row">

            <div class="col-12">
                <p class="text-center pf">Hai, <span id="ub"></span><span id="uname"></span>  .Your weight is <span id="uweight"></span> Kgs. You are <span id = "ubtype"></span> </p>
            </div>
            <div class="col-12" >
                <h3 class="text-center" id ="NoDiseaseSelected"></h3>
            </div>
            <div class="col-12 col-md-6 col-lg-4" id="d1">
                <div class="m-3 card shadow">
                    <h1>Asthma</h1>
                    <p>Asthma is a chronic respiratory disease that affects the airways in the lungs. It is characterized by inflammation and narrowing of the airways, which can cause breathing difficulties, coughing, wheezing, and shortness of breath.

                        Asthma can be triggered by various factors, such as allergies, respiratory infections, exercise, pollution, and stress. It is a common condition that affects people of all ages, but it often starts in childhood.
                        
                        There are different types of asthma, including allergic asthma, non-allergic asthma, exercise-induced asthma, and occupational asthma. Treatment for asthma may include medication, such as inhalers, and avoiding triggers that can cause symptoms.
                        
                        It is important for individuals with asthma to work with their healthcare provider to develop an asthma action plan to manage their symptoms and prevent asthma attacks. With proper management, most people with asthma are able to live active and healthy lives..</p>
                    
                   
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=Zg4OwPdbvFE" target="_blank">Click here</a></p>
                    
                </div>
            </div>




            <div class="col-12 col-md-6 col-lg-4" id="d2">
                <div class="m-3 card shadow">
                    <h1>Backache</h1>
                    <p>Backache, also known as back pain, is a common condition that affects the muscles, bones, nerves, or other structures in the back. It can be acute, meaning it lasts for a short period of time, or chronic, lasting for several weeks or months.

                        Backache can be caused by a variety of factors, including poor posture, muscle strain or sprain, herniated discs, arthritis, or osteoporosis. Other risk factors for backache include obesity, sedentary lifestyle, smoking, and stress.
                        
                        Symptoms of backache can vary depending on the cause, but may include dull or sharp pain in the back, stiffness, limited mobility, and muscle spasms. In some cases, back pain may also radiate to other parts of the body, such as the legs or arms.
                        
                        Treatment for backache depends on the underlying cause and severity of the pain. Conservative treatments may include rest, over-the-counter pain relievers, ice or heat therapy, and physical therapy. In some cases, medication or surgery may be necessary.
                        
                        Preventing backache may involve maintaining good posture, exercising regularly, maintaining a healthy weight, avoiding heavy lifting or twisting, and practicing stress management techniques. If you are experiencing back pain, it is important to consult with a healthcare provider for proper diagnosis and treatment.</p>
                    
                </div>
            </div>

            



            <div class="col-12 col-md-6 col-lg-4" id ="d3">
                <div class="m-3 card shadow">
                    <h1>Cough</h1>
                    <p>

                        Cough is a common reflex action that helps to clear the throat and airways of mucus, irritants, or foreign particles. It is a natural defense mechanism of the body to protect the lungs and airways.
                        
                        Coughs can be acute, lasting for a few days or weeks, or chronic, lasting for more than 8 weeks. Coughs can be caused by various factors, such as respiratory infections, allergies, asthma, gastroesophageal reflux disease (GERD), smoking, and exposure to irritants.
                        
                        The symptoms of a cough may include a dry or productive cough, sore throat, hoarseness, difficulty breathing, and wheezing. Coughs can also be accompanied by other symptoms, such as fever, fatigue, and body aches.
                        
                        Treatment for a cough depends on the underlying cause. Acute coughs may be treated with over-the-counter cough suppressants, expectorants, or antihistamines. Chronic coughs may require further evaluation and treatment by a healthcare provider, which may include medication, lifestyle changes, or respiratory therapy.
                        
                        To prevent coughs, it is important to practice good hygiene, such as washing hands frequently, covering the mouth and nose when coughing or sneezing, and avoiding close contact with sick individuals. It is also important to avoid exposure to irritants, such as smoke and pollutants, and to maintain good overall health through proper diet and exercise.</p>
                    >Don't assume someone with color blindness cannot function normally</li>
                    </ul>
                    
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=KBCtrjhnLF4" target="_blank">Click here</a></p>
                </div>
            </div>


            




            <div class="col-12 col-md-6 col-lg-4" id="d4">
                <div class="m-3 card shadow">
                    <h1>Headache</h1>
                    <p>There are several ways to reduce headaches, depending on the type and cause of the headache. Some common methods include:

                        Pain relievers: Over-the-counter pain relievers such as aspirin, ibuprofen, and acetaminophen can help to reduce headaches. However, it is important to follow the recommended dosage and consult a healthcare provider if headaches are frequent or severe.
                        
                        Cold compress: Applying a cold compress to the forehead or temples can help to reduce headache pain. This can be done using a cold pack or a washcloth soaked in cold water.
                        
                        Relaxation techniques: Stress and tension can often trigger headaches, so relaxation techniques such as deep breathing, meditation, and yoga may be helpful in reducing headache frequency and intensity.
                        
                        Hydration: Dehydration can also be a trigger for headaches, so drinking plenty of water and staying hydrated can help to reduce headache frequency.
                        
                        Avoiding triggers: Certain foods, drinks, and environmental factors can trigger headaches in some individuals. It may be helpful to keep a headache diary to identify and avoid these triggers.
                        
                        Prescription medication: In some cases, prescription medications such as triptans, beta blockers, or antidepressants may be prescribed to treat chronic or severe headaches.
                        
                        It is important to consult with a healthcare provider if headaches are frequent or severe, or if they interfere with daily activities.</p>
                    
                    <p class="link-des">more info<a class="link" href="https://www.youtube.com/watch?v=vW5WFdhJLdI" target="_blank">Click here</a></p>
                </div>
            </div>




            <div class="col-12 col-md-6 col-lg-4" id="d5">
                <div class="m-3 card shadow">
                    <h1>Fever</h1>
                    <p>There are several ways to reduce fever, depending on the underlying cause and severity of the fever. Some common methods include:

                        Over-the-counter medication: Fever-reducing medications such as acetaminophen (Tylenol) and ibuprofen (Advil, Motrin) can be effective in reducing fever. It is important to follow the recommended dosage and avoid taking multiple medications at once.
                        
                        Fluids: Staying hydrated is important when experiencing fever, as it can help to flush out toxins and reduce fever. Drinking water, clear broth, and other fluids can help to prevent dehydration.
                        
                        Rest: Getting plenty of rest is important when experiencing fever, as it can help to support the immune system and promote healing.
                        
                        Cool compress: Applying a cool compress or damp cloth to the forehead, neck, or armpits can help to reduce fever.
                        
                        Warm bath: Taking a lukewarm bath or sponge bath can help to reduce fever by lowering body temperature.
                        
                        Proper clothing: Wearing light clothing and avoiding heavy blankets or comforters can help to prevent overheating and reduce fever.
                        
                        It is important to consult with a healthcare provider if fever is high (above 103 degrees Fahrenheit), persists for more than a few days, or is accompanied by other symptoms such as severe headache, chest pain, or difficulty breathing.</p>
                    
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=qCcqte_Qx7w" target="_blank">Click here</a></p>
                </div>
            </div>





            <div class="col-12 col-md-6 col-lg-4" id="d6">
                <div class="m-3 card shadow">
                    <h1>Sunburn</h1>
                <p>Sunburn is a common skin condition that occurs when the skin is overexposed to UV rays from the sun. It can cause redness, pain, and peeling of the skin. Here are some ways to reduce sunburn:

                    Cool compresses: Apply cool compresses or take a cool bath to help soothe the skin and reduce inflammation.
                    
                    Aloe vera: Aloe vera is a natural anti-inflammatory agent and can help to soothe and heal sunburned skin. Apply aloe vera gel directly to the affected areas.
                    
                    Moisturize: Apply a moisturizer to help hydrate the skin and prevent peeling.
                    
                    Over-the-counter pain relief: Over-the-counter pain relievers, such as ibuprofen, can help to relieve pain and reduce inflammation.
                    
                    Stay hydrated: Drink plenty of water to help replace fluids lost through sweating and to prevent dehydration.
                    
                    Avoid further sun exposure: Stay out of the sun until the sunburn has healed. If you must be outside, wear protective clothing, such as long sleeves and a hat, and apply sunscreen with a high SPF.
                    
                    It is important to seek medical attention if sunburn is severe, covers a large area of the body, or is accompanied by fever, chills, or severe pain.</p>
                    
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=aw25fTCK0SQ" target="_blank">Click here</a></p>
                </div>
            </div>






            <div class="col-12 col-md-6 col-lg-4" id="d7">
                <div class="m-3 card shadow">
                    <h1>Heartburn</h1>
                   <p>Heartburn is a burning sensation in the chest that is caused by stomach acid refluxing into the esophagus. Here are some ways to reduce heartburn:

                    Avoid trigger foods: Certain foods and drinks can trigger heartburn, such as spicy, fatty, or fried foods, coffee, alcohol, and carbonated beverages. Avoiding these trigger foods can help to reduce heartburn.
                    
                    Eat smaller meals: Eating smaller, more frequent meals can help to reduce the amount of stomach acid produced during digestion.
                    
                    Don't lie down after eating: Avoid lying down immediately after eating, as this can increase the likelihood of acid reflux. Wait at least 2-3 hours after eating before lying down.
                    
                    Raise the head of your bed: Elevating the head of your bed by 6-8 inches can help to prevent stomach acid from refluxing into the esophagus while sleeping.
                    
                    Antacids: Over-the-counter antacids, such as Tums, Rolaids, and Maalox, can help to neutralize stomach acid and provide relief from heartburn symptoms.
                    
                    Proton pump inhibitors (PPIs): PPIs, such as omeprazole (Prilosec) and esomeprazole (Nexium), can help to reduce the amount of stomach acid produced and provide longer-lasting relief from heartburn symptoms.
                    
                    It is important to consult with a healthcare provider if heartburn is frequent or severe, or if it interferes with daily activities.</p>
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=kfWgEybQCYs" target="_blank">Click here</a></p>
                </div>
            </div>




            <div class="col-12 col-md-6 col-lg-4" id="d8">
                <div class="m-3 card shadow">
                    <h1></h1>
                    <p>Insomnia is difficulty getting to sleep or staying asleep for long enough to feel refreshed the next morning. It’s a common problem thought to regularly affect around one in every three people and is particularly common in elderly people.</p>
                    <h5>Do's</h5>
                    <ul>
                        <li>Go to bed and wake up at the same time every day. Even if you have trouble falling asleep the night before, try to wake up at the same time. This helps maintain your body's natural sleep cycle.</li>
                        <li>Exercise regularly. Exercise in moderate amounts early in the day.</li>
                        <li>Keep a notepad by your bed to jot down the issues causing your stress as you try to go to sleep. Let those issues go for the night, knowing that you can pick up thinking about them in the morning.</li>
                        <li>Breathe deeply and stretch your body. Consider an easy nightly stretching routine that includes deep breathing as a way to relax and prepare for a good night's sleep.</li>
                    </ul>
                    <h5>Dont's</h5>
                    <ul>
                        <li>Don't drink caffeine-containing beverages (coffee, tea, soft drinks) after dinner.</li>
                        <li>Don't eat heavy or spicy food in the evening.</li>
                    </ul>
                    <p class="link-des">For more info <a class="link" href="https://www.webmd.com/sleep-disorders/remedies-for-insomnia" target="_blank">Click here</a></p>
                </div>
            </div>







            <div class="col-12 col-md-6 col-lg-4" id="d9">
                <div class="m-3 card shadow">
                    <h1>Hypertension</h1>
                           <p>Heartburn is a burning sensation in the chest that is caused by stomach acid refluxing into the esophagus. Here are some ways to reduce heartburn:

                            Avoid trigger foods: Certain foods and drinks can trigger heartburn, such as spicy, fatty, or fried foods, coffee, alcohol, and carbonated beverages. Avoiding these trigger foods can help to reduce heartburn.
                            
                            Eat smaller meals: Eating smaller, more frequent meals can help to reduce the amount of stomach acid produced during digestion.
                            
                            Don't lie down after eating: Avoid lying down immediately after eating, as this can increase the likelihood of acid reflux. Wait at least 2-3 hours after eating before lying down.
                            
                            Raise the head of your bed: Elevating the head of your bed by 6-8 inches can help to prevent stomach acid from refluxing into the esophagus while sleeping.
                            
                            Antacids: Over-the-counter antacids, such as Tums, Rolaids, and Maalox, can help to neutralize stomach acid and provide relief from heartburn symptoms.
                            
                            Proton pump inhibitors (PPIs): PPIs, such as omeprazole (Prilosec) and esomeprazole (Nexium), can help to reduce the amount of stomach acid produced and provide longer-lasting relief from heartburn symptoms.
                            
                            It is important to consult with a healthcare provider if heartburn is frequent or severe, or if it interferes with daily activities.</p>          
                    <p class="link-des">more info <a class="link" href="https://www.youtube.com/watch?v=RDFzhhhm8Js" target="_blank">Click here</a></p>
                </div>
            </div>





            <div class="text-center col-12 mt-5">
                 <button class="btn btn-dark" onclick="navigateToPage()">Back</button>
            </div>




        </div>
    </div>
    <script type="text/javascript" src="details.js"></script>
</body>

</html>
